button {
  outline: none;
  border: none;
  cursor: pointer;
}
.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url(img/background.png) center/cover no-repeat;
  border-radius: 20px;
}
.game__header {
}
.game__button {
}
.game__timer {
}
.game__score {
}
.game__field {
}
.pop-up {
}
.pop-up__refresh {
}
.pop-up__message {
}
